<div>
  <p><%= link_to("Wpisy", entries_path) %></p>
</div>
<div>
<h1>My favourite websites</h1>
<ul>

<% for url, name in @websites %>
<li><a href="<%= url %>"><%= name %></a></li>
<% end %>
</ul>
</div>
<img src="http://railsgirls.com/images/rg-warsaw.png" />
